<!-- Button trigger modal -->
<button type="button" id="add" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNew" title="Add Students">
  <i class="bi bi-plus-lg"></i>
</button>
<button type="button" id="edit" class="btn btn-warning mx-2" data-bs-toggle="modal" data-bs-target="#editStudentModal" title="Edit Students" disabled >
  <i class="bi bi-pencil-square"></i>
</button>
<button type="button" id="delete" class="btn btn-danger" title="Delete Students" disabled >
  <i class="bi bi-trash3"></i>
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="addNew" tabindex="-1" aria-labelledby="addNewLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="formAlert" class="alert alert-danger text-center d-none" role="alert">
            Please Enter Details.
          </div>
          <form class="addDev" id="addDev">
            <div class="mb-3 text-start">
              <label class="form-label">FirstName</label>
              <input type="text" name="firstname" id="firstname" class="form-control" required>
            </div>
            <div class="mb-3 text-start">
              <label class="form-label">LastName</label>
              <input type="text" name="lastname" id="lastname" class="form-control" required>
            </div>
            <div class="mb-3 text-start">
              <label class="form-label">Email</label>
              <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <div class="mb-3 text-start">
              <label class="form-label">Roll Number</label>
              <input type="text" name="roll_number" id="roll_number" class="form-control" required>
            </div>
            <div class="mb-3 text-start">
              <label class="form-label">Phone Number</label>
              <input type="tel" name="phonenumber" id="phonenumber" class="form-control" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" name="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" name="submit" class="btn btn-primary" id="submitDev">Submit</button>
        </div>
      </div>
    </div>
  </div>