<!-- Teacher  & Class Details-->

<div class="row">
    <div class="col-12 col-md-6">
        <p><b>Teacher Name : </b> M. Seela</p>
        <p><b>Class : </b> V</p>
    </div>
    <div class="col-12 col-md-6 text-end">
        <p><b>Section : </b> A</p>
        <p><b>No.Of Students : </b> 49</p>
    </div>
</div>